{% extends 'base.html' %}

{% block content %}
<h1>Lista de Perros</h1>

<ul>
  {% for perro in perros %}
    <li style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          <a href="{% url 'DetallePerro' perro.id %}">{{ perro }}</a>
        </div>
        {% if user.is_staff %}
        <div>
          <button style="margin-left: 10px;">
            <a href="{% url 'ActualizaPerro' perro.id %}">Actualizar</a>
          </button>
          <button style="margin-left: 10px;">
            <a href="{% url 'EliminaPerro' perro.id %}">Eliminar</a>
          </button>
        </div>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

{% endblock %}