<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Panel de Opciones</div>
    <div class="list-group list-group-flush">
        {% if user.is_staff %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" style="background-color: #ffcccb; color: #000;" href="{% url 'CreaPerro' %}">Agregar Perros</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'CreaGato' %}">Agregar Gatos</a>
        {% endif %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'perros_list' %}">Listar Perros</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'gatos_list' %}">Listar Gatos</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Buscar Mascota</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Vamos a Adoptar!</a>
    </div>
</div>