{% extends 'base.html' %}

{% block title %}Quien Somos?{% endblock %}
{% block content %}
<h1 class="mt-4">Quien Somos?</h1>
<p>Hola que tal, soy Enrique Mendez el creador de esta pagina web y quería en primer lugar agradecerte por pasarte por aquí, fue de tu agrado?</p>
<p>Bueno, la idea de esta pagina es poder ver listas en donde se encuentran las diferentes mascotas que se encuentran en un refugio imaginario, y despues poder obtener más informacon de ellas para poder adoptarlas.</p>
<p>Idea que se me ocrrió despues de adoptar una nueva mascota para nuestra familia(Ruby, la cual pueden ver que está en la pagina.), pensando en que si un refugio quisiera tener un entorno ordenado para una buena administracion del local debería de poseer una pagina igual de organizada.</p>
<p>A sido un largo viaje para poder llegar hasta aquí y me siento orgulloso de este trabajo, el programar se me hace divertido pero siempre intentando mantener una seriedad necesaria para afrontar los problemas del Día a Día.</p>
<p>Con esto me despido y que la pasen bien.</p>

{% endblock %}